services:
 #             Mariadb service
 mariadb:
  build: requirements/mariadb/.
  container_name: mariadb
  restart: always
  image: inception_mariadb
  networks:
   - inception
  volumes:
   - mariadb_data:/var/lib/mysql
  env_file:
   - .env
 #            Adminer service
 adminer:
  build: bonus/adminer/.
  container_name: adminer
  image: inception_adminer
  restart: always
  ports:
   - "8080:8080"
  networks:
   - inception
  depends_on:
   - mariadb
 #             Redis service
 redis:
  build: bonus/redis/.
  container_name: redis
  image: inception_redis
  restart: always
  networks:
   - inception
 #            Wordpress service
 wordpress:
  build: requirements/wordpress/.
  container_name: wp-php
  restart: always
  image: inception_wordpress
  volumes:
   - wordpress_data:/var/www/html/
  networks:
   - inception
  depends_on:
   - mariadb
   - redis
  env_file:
   - .env
 #             FTP service
 ftp:
   build: bonus/ftp/.
   container_name: ftp
   restart: always
   image: inception_ftp
   ports:
   - "21:21"
   - "30000-30009:30000-30009"
   networks:
   - inception
   volumes:
   - wordpress_data:/var/www/html/
   depends_on:
   - wordpress
 #             Nginx service
 nginx:
  build: requirements/nginx/.
  container_name: nginx
  restart: always
  image: inception_nginx
  ports:
   - "443:443"
  networks:
   - inception
  volumes:
   - wordpress_data:/var/www/html/
  depends_on:
   - wordpress
 #             Website service
 website:
  build: bonus/website/.
  container_name: website
  restart: always
  image: inception_website
  ports:
   - "80:80"
 #           Portainer service
 portainer:
   build: bonus/portainer/.
   container_name: portainer
   image: inception_portainer
   restart: always
   ports:
     - "9000:9000"
   volumes:
     - /var/run/docker.sock:/var/run/docker.sock
   networks:
     - inception

networks:
  inception:
    name: inception
    driver: bridge

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/eel-ansa/data/wordpress
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/eel-ansa/data/mariadb