
# volumes / depandencies to be added later / image names to be changed later / restart policies to be added later
services:
 nginx:
  build: requirements/nginx/.
  container_name: nginx
  ports:
   - "443:443"
  volumes:
   - ./home/eel-ansa/data/wordpress:/var/www/html/
  networks:
   - inception
 wordpress:
  build: requirements/wordpress/.
  container_name: wp-php
  volumes:
   - ./home/eel-ansa/data/wordpress:/var/www/html/
  networks:
   - inception
 mariadb:
  build: requirements/mariadb/.
  container_name: mariadb
  networks:
   - inception

networks:
  inception:
    name: inception
    driver: bridge