#add check
services:
 #             Mariadb service
 mariadb:
  build: requirements/mariadb/.
  container_name: mariadb
  restart: always
  image: inception_mariadb
  networks:
   - inception
  volumes:
   - mariadb_data:/var/lib/mysql
  env_file:
   - .env
 #            Wordpress service
 wordpress:
  build: requirements/wordpress/.
  container_name: wp-php
  restart: always
  image: inception_wordpress
  volumes:
   - wordpress_data:/var/www/html/
  networks:
   - inception
  depends_on:
   - mariadb
  env_file:
   - .env
 #             Nginx service
 nginx:
  build: requirements/nginx/.
  container_name: nginx
  restart: always
  image: inception_nginx
  ports:
   - "443:443"
  networks:
   - inception
  volumes:
   - wordpress_data:/var/www/html/
  depends_on:
   - wordpress
 #             Website service
 website:
  build: bonus/website/.
  container_name: website
  restart: always
  image: inception_website
  ports:
   - "80:80"
# configure the network and volumes
networks:
  inception:
    name: inception
    driver: bridge

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/eel-ansa/data/wordpress
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/eel-ansa/data/mariadb