

# restart policies to be added later
services:
 #             Nginx service
 nginx:
  build: requirements/nginx/.
  container_name: nginx
  image: nginx
  restart : always
  ports:
   - "443:443"
  networks:
   - inception
  volumes:
   - wordpress_data:/var/www/html/
  depends_on:
   - wordpress
 #            Wordpress service
 wordpress:
  build: requirements/wordpress/.
  container_name: wp-php
  image: wordpress
  restart : always
  volumes:
   - wordpress_data:/var/www/html/
  networks:
   - inception
  depends_on:
   - mariadb
 #             Mariadb service
 mariadb:
  build: requirements/mariadb/.
  container_name: mariadb
  image: mariadb
  restart : always
  networks:
   - inception
  volumes:
   - mariadb_data:/var/lib/mysql

# configure the network and volumes
networks:
  inception:
    name: inception
    driver: bridge

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/eel-ansa/data/wordpress
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/eel-ansa/data/mariadb